__pycache__/
.doit*
.ipynb_checkpoints/
.venv/
.yarn-packages/
*.egg-info
**/node_modules/
build/
dist/
labextensions/
lib/
node_modules/
untitled*
Untitled*
.mypy_cache/
.virtual_documents
.vscode
*.tsbuildinfo