@import "./fonts.css";

:root {
    --gt-blue: #003057;
    --gt-blue-80: #335161;
    --gt-blue-link: #004F9F;
    --gt-blue-link-hover: #1879DB;
    --gt-grey-light: #E5E5E5;
    --gt-gold-buzz: #EAAA00;
    --gt-gold-buzz-60: #F5D580;
    --gt-tertiary-gray-matter: #54585a;
    --gt-tertiary-atlanta-fog: #002233;
    --gt-tertiary-mortar: #8e8b76;
    --gt-tertiary-pi-mile: #d6dbd4;
    --gt-tertiary-diploma: #f9f6e5;
    --gt-tertiary-tower-patina: #4b8b9b;
    --gt-tertiary-bobby-jones: #377117;
    --gt-tertiary-burger-bowl: #b7c42f;
    --gt-tertiary-the-whistle: #740053;
    --gt-tertiary-georgia-clay: #ad4025;
    --gt-tertiary-horizon: #f95e10;
}
